* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root, .app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
